.alert-box{
    background : rgb(91, 91, 231);
    color : rgb(255, 255, 255);
    padding : 20px;
    border-radius : 5px;
    display : none;
    width : 20%;
}
.head{
    border : 8px solid rgb(0, 0, 0);
    background-color: rgb(117, 151, 201);
    color: rgb(54, 47, 118);
    float : top;
    border-radius: 25px;
    display : block;
    padding : 20px;
    height : 180px;
}
.left{
    border : 8px solid rgb(0, 0, 0);
    background-color: rgb(117, 151, 201);
    color: rgb(54, 47, 118);
    float : left;
    border-radius: 25px;
    display : block;
    padding : 20px;
    height : 360px;  
    width: 11%;
    margin-top : 10px;
}